@model ASP_Epreuve.Models.ProduitDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProduitDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CritereEco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CritereEco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Categorie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Categorie)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Produit }) |
    <a asp-action="Index">Back to List</a>
</div>
